# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
.venv/
.venv*/
venv/
venv*/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# VS Code
.vscode/

# Data
data/
*.csv
*.parquet

# OS
Thumbs.db
.DS_Store